#container{
    background-color:#fff;
width:1350px;
height:auto;
margin-left:auto;
margin-right:auto;

}

#title{
	background-color:#CE1126;
	height:120px;
	width:1350px;
text-align:center;

}

.try{
    padding-left: 52px;
}

#images{
    background-color:#FCD116;
    padding: 30 30 30 30;
    margin-top: 20px;

}

#content{
    background-color: #006B3F;
    height:auto;
	width:1350px;
	margin-left:auto;
	margin-right:auto;
}

#form{
    background-color: #006B3F;
    height: 500px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    position: relative;top: -22px;
    padding-left: 20px;

}

.submit{
    position: relative; top:20px ;
}

input[type =text]{
    padding: 5px;
}
